body {
  background-color: #555555;
}

.mainCountDiv {
  margin-top: 100px;
}

 .num_tiles {
  display: inline;
  background-color: #888888;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}